
.WdateDiv{
	width:180px;
	background-color:#fff;
	border:#87B3DA 1px solid;
	padding:2px;
}
.WdateDiv2{
	width:360px;
}
.WdateDiv *{font-size:9pt;}

.WdateDiv .NavImg a{
	display:block;
	cursor:pointer;
	height:16px;
	width:16px;
}

.WdateDiv .NavImgll a{
	float:left;
	background-image:url(navLeft.gif);
}
.WdateDiv .NavImgl a{
	float:left;
	background:url(left.gif);
}
.WdateDiv .NavImgr a{
	float:right;
	background-image:url(right.gif);
}
.WdateDiv .NavImgrr a{
	float:right;
	background-image:url(navRight.gif);
}

.WdateDiv #dpTitle{
	height:24px;
	background:url(bg.jpg);
	padding-top:2px;
	margin-bottom:2px;
}
.WdateDiv .yminput{
	margin-top:2px;
	text-align:center;
	border:0px;
	height:20px;
	width:50px;
	color:#FFF;
	background-color:transparent;
	cursor:pointer;
}
.WdateDiv .yminputfocus{
	margin-top:2px;
	text-align:center;
	font-weight:bold;
	color:#195184;
	border:#939393 1px solid;
	height:20px;
	width:50px;
}
.WdateDiv .menuSel{
	z-index:1;
	position:absolute;
	background-color:#FFFFFF;
	border:#A3C6C8 1px solid;
	display:none;
}
.WdateDiv .menu{
	cursor:pointer;
	background-color:#fff;
	color:#3C82C0;
}
.WdateDiv .menuOn{
	cursor:pointer;
	background-color:#B5CEE8;
}
.WdateDiv .invalidMenu{
	color:#aaa;
}
.WdateDiv .YMenu{
	margin-top:20px;
}
.WdateDiv .MMenu{
	margin-top:20px;
	*width:62px;
}
.WdateDiv .hhMenu{
	margin-top:-86px;
	margin-left:26px;
}
.WdateDiv .mmMenu{
	margin-top:-44px;
	margin-left:26px;
}
.WdateDiv .ssMenu{
	margin-top:-23px;
	margin-left:26px;
}

 .WdateDiv .Wweek {
 	text-align:center;
	background:#B7C9FD;
	border-right:#BDEBEE 1px solid;
 }
.WdateDiv .MTitle{
	color:#BCEAED;
	background-color:#5D99CF;
}
.WdateDiv .WdayTable2{
	border-collapse:collapse;
	border:#3C82C0 1px solid;
}
.WdateDiv .WdayTable2 table{
	border:0;
}
.WdateDiv .WdayTable{
	line-height:20px;
	color:#3C82C0;
}
.WdateDiv .WdayTable td{
	text-align:center;
}
.WdateDiv .Wday{
	cursor:pointer;
}
.WdateDiv .WdayOn{
	cursor:pointer;
	color:#FFF;
	background-color:#4A88C5;
}
.WdateDiv .Wwday{
	cursor:pointer;
	color:#D01214;
}
.WdateDiv .WwdayOn{
	cursor:pointer;
	color:#FEA7A3;
	background-color:#4A88C5;
}
.WdateDiv .Wtoday{
	cursor:pointer;
	color:#65933C;
}
.WdateDiv .Wselday{
	color:#FFF;
	background-color:#87B0DA;
}
.WdateDiv .WspecialDay{
	background-color:#66F4DF;
}
.WdateDiv .WotherDay{
	cursor:pointer;
	color:#B5CEE8;
}
.WdateDiv .WotherDayOn{
	cursor:pointer;
	background-color:#87B0DA;
}
.WdateDiv .WinvalidDay{
	color:#aaa;
}
.WdateDiv #dpTime{
	float:left;
	margin-top:3px;
	margin-right:30px;
}
.WdateDiv #dpTime #dpTimeStr{
	margin-left:1px;
	color:#3C81C2;
}
.WdateDiv #dpTime input{
	height:18px;
	width:18px;
	text-align:center;
	color:#333;
	border:#3C81C2 1px solid;
}
.WdateDiv #dpTime .tB{
	border-right:0px;
}
.WdateDiv #dpTime .tE{
	border-left:0;
	border-right:0;
}
.WdateDiv #dpTime .tm{
	width:7px;
	border-left:0;
	border-right:0;
}
.WdateDiv #dpTime #dpTimeUp{
	height:10px;
	width:13px;
	border:0px;
	background-image:url(up.jpg);
}
.WdateDiv #dpTime #dpTimeDown{
	height:10px;
	width:13px;
	border:0px;
	background-image:url(down.jpg);
}
 .WdateDiv #dpQS {
 	float:left;
	margin-right:3px;
	margin-top:3px;
	background-image:url(qs.jpg);
	width:20px;
	height:20px;
	cursor:pointer;
 }
.WdateDiv #dpControl {
	text-align:right;
	margin-top:3px;
}
.WdateDiv .dpButton{
	height:20px;
	width:45px;
	border:0px;
	margin-top:2px;
	background:url(btnbg.jpg);
	color:#FFF;
}