@charset "utf-8";
/* CSS Document */

/*reset*/

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

em {
	font-style: normal
}

li {
	list-style: none;
}

img {
	border: 0;
	vertical-align: middle
}

.clear {
	clear: both;
}
.text{
	color: rgb(102, 97, 97);
}
.clearfix {
*zoom:1;
	display: block;
}

.clearfix:after, .head:after, .main:after, .area:after, .shadow:after {
	display: block;
	overflow: hidden;
	clear: both;
	height: 0;
	visibility: hidden;
	content: ".";
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "STHeitiSC", "Microsoft Yahei";
	min-width: 320px; 
}

a {
	text-decoration: none;
	cursor: pointer;
}

.container {
	width: 100%;
	background: #f2f2f2;
}

.content {
	padding: 20px 20px;
}

.celebrate {
	padding: 20px 20px 0px;
}

.img img {
	display: block;
	width: 100%;
	height:100px;
}

.title {
	font-size: 1.1em;
	color: #666161;
	margin-top: 20px;
}

.time {
	font-size: 0.6em;
	color: #999191;
}

.center_time {
	margin: 12px 0;
}

hr {
	border: 0;
	background-color: #CCC2C2;
	height: 1px;
}

h1 {
	font-size: 1.2em;
	color: #333131;
}

h2 {
	font-size: 1.2em;
	color: #333030;
	text-align: center;
}

.activety_time {
	margin: 24px 4px 24px 0;
	text-align: right;
}

.details {
	font-size: 0.9em;
	color: #666161;
	padding: 20px 3%;
	line-height: 1.8em;
}

.header {
	height: 70px;
	line-height: 70px;
	font-size: 1.5em;
	color: rgb(230, 46, 46);
	text-align: center;
	border-bottom: 1px solid #CCC2C2;
	position: relative;
	background: #fff;
}

.back {
	position: absolute;
	left: 6%;
	top: 0px;
	font-size: 0.7em;
}

.back a {
	color: rgb(230, 46, 46);
	padding-left: 18px;
	background: url(../images/backTo.png) no-repeat center left;
}

.mainbody {
	padding: 18px 6% 0px;
	background: #f2f2f2;
}

.tiger_time {
	margin: 18px 0 30px;
}

.text p {
	text-indent: 2em;
	font-size: 0.9em;
	color: rgb(102, 97, 97);
}

.result {
	width: 100%;
	font-size: 1em;
	color: rgb(51, 49, 49);
}

.result tr {
	height: 80px;
}

.result tr td {
	border-bottom: 1px solid #ccc2c2;
	padding: 0 40px 0 20px;
	background: url(../images/into.png) no-repeat 96% center;
	cursor: pointer;
}

.result tr td a{
	color: rgb(51, 49, 49);
}

.swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;
	max-width: 480px;
	margin: 60px auto 0;
}

.swipe-wrap {
	height: 100%;
}

.swipe-wrap .sw-c {
	float: left;
	width: 100%;
	position: relative;
}

.swipe-wrap .sw-c a {
	display: block;
}

.swipe-wrap .sw-c img {
	width: 100%;
}

.swipe_num {
	text-align: center;
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -35px;
}

.swipe_num b {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	font-size: 0;
	text-indent: 999em;
	background: #666161;
	margin: 0 10px;
	overflow: hidden
}

.swipe_num b.on {
	background: #fff;
}

.agreement_title, .about_title {
	font-size: 1.2em;
	color: rgb(51, 48, 48);
	text-align: center;
	margin-top: 20px;
}

.agreement_content, .about_content {
	padding: 30px 6% 10px;
	font-size: 0.9em;
	color: rgb(102, 97, 97);
	line-height: 1.5em;
}

.red {
	color: #e85555;
}

.contact_content {
	margin:40px 6% 0px;
	font-size: 0.9em;
	color: rgb(102, 97, 97);
	line-height:1.8em;
}

.contact_content p {
	margin-bottom: 24px;
}

.contact_content a{
	color: rgb(102, 97, 97);
}

.label {
	font-size:1.2em;
}

.contact a{
	color: rgb(46, 115, 230);
}

#wrapper {
	position: absolute;
	z-index: 1;
	top: 0px;
	left: 0;
	width: 100%;
	height:60px;
	line-height:60px;
	text-align:center;
	background: #fff;
	overflow: hidden;
}

#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 600px;
	height: 100%;
	background-color: #fff;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

#scroller ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

#scroller li{
	display: block;
	float: left;
	width: 100px;
	height: 55px;
	background-color: #fafafa;
	border-bottom: 5px solid #fff;
	font-size: 1em;
	z-index:1;
}

#scroller li a{
	color:rgb(51, 49, 49);
	display: block;
	float: left;
	width: 100px;
	height: 55px;
}

#scroller li.tab_on{
	border-bottom: 5px solid #e62e2e;
}

#scroller li.tab_on a{
	color:#e62e2e;
}

